.nav {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 1.2em;
  /*   border-bottom: 6px solid #999; */
  background-color: #ddd;
}

.nav-elem.active {
  transition: 0.2s ease-in;
  background-color: black;
  color: white;
  /*   border-bottom: 6px solid red; */
}
